  /* div#wrapper{

    margin:auto;
    background:white;
    width:800px;
    height: 1000px;
}    */

/* div#wrapper{

  position:absolute;
  top:calc(50% - 3em);
  left:calc(50% - 9em);
  width:18em;
  height:6em;

} */

div#wrapper{

  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);

}

body {font-family: Arial, Helvetica, sans-serif;}
 * {box-sizing: border-box;} 

.form-inline {  
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center; 
  margin:auto; 
  
}

.form-inline label {
  margin: 5px 10px 5px 0;
}

.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.form-inline button {
  padding: 10px 20px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
  cursor: pointer;
}

.form-inline button:hover {
  background-color: royalblue;
}

@media (max-width: 800px) {
  .form-inline input {
    margin: 10px 0;
  }
  
  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
}

#quoteIcon{

  display:none;

}

.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  /* display: inline-block; */
       font-size: 40px; 
}

@keyframes textclip {
  to {
    background-position: 50% center;
  }
}